$content-width: 580px !default;

// typography
$body-font: 'Josefin Sans', sans-serif;
$heading-font: 'Josefin Sans', sans-serif;

// Colors
$text-color: #111 !default;
$accent-color: #fe6c4a !default;